@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .fade-in {
        animation: fadeIn 300ms ease-in-out;
    }

    @keyframes fadeIn {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
}

html, body {
    margin: 0;
    padding: 0;

    font-family: "Raleway", sans-serif;

    @apply bg-zinc-800;
    @apply text-zinc-100;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.raleway {
    font-family: "Raleway", sans-serif;
}

.title {
    font-family: coquette, sans-serif;
}

.quibbble {
    font-family: lobster, cursive;
}

.test {
    border: 2px solid red
}
